.wrapper {
  position: relative;
  width: 20vw;
  height: 50vh;
  background-color: rgb(118, 132, 201);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  box-shadow: 4px 4px 8px 7px rgba(34, 60, 80, 0.38);
}

.body_quest {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0px;
}

.body_totalAnswers {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn__next_wrapper {
  position: absolute;
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
  bottom: 5%;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .wrapper {
    width: 30vw;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    width: 30vw;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 45vw;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .wrapper {
    width: 60vw;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .wrapper {
    width: 90vw;
  }
}
/* Iphone 5 */
@media (max-width: 320px) {
  .wrapper {
    width: 90vw;
  }
}
