.btn {
   font-size: 1em;
   padding: 4px 10px;
   border-radius: 20px;
   box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.38);
   transition: 300ms;
   cursor: pointer;
 }
 
 .btn:active {
   box-shadow: 0px 0px 0px 0px rgba(34, 60, 80, 0.38);
 }
 
 .btn:hover {
   border: 1px solid red;
 }